.AppointmentPicker {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.AppointmentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.AppointmentChecker {
    width: 40%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.AppointmentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black; 
}

.EmailShare {
    width: 30%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.time-picker {
    margin-top: 6px;
    min-width: 18em;
    height: 30px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 31px;
    transition: all 250ms ease-in-out;
}

.recurrence-options{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.tab-container {
    display: flex;
    flex-direction: column;
}

@media (max-width: 800px) {
    .AppointmentContainer {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-top: 2px solid black;
    }

    .AppointmentPicker {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .AppointmentChecker {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .EmailShare {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }


}


